body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: gray;
    text-align: center;
    margin: 0;
    padding: 0;

}
header{
    background-color: blue;
    color: white;
    padding: 1.5em 0;


}

section{
    margin: 2em auto;
    width: 80%;

}

footer{
    background-color: black;
    color: white;
    padding: 1em 0;
}

h1{
    transition: transform 0.3s;

}
h1:hover{
    transform: scale(1.1);
    color: yellow;
}